.DS_Store

local-billpay-tracker/
local-habit-calendar/
local-recipebook/
local-shareanyjson/
local-trading-journal/
local-weekly-options-trade-plan/
myfamilytree/
medreview/
local-vibecoding-appideas/
local-keywords-files-finder/
local-filesync/
local-api-web-proxy/
MyCareerPulse/
